{% extends 'base.html' %}
{% load jalali_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mb-2">
            <h1>
            تمام دوره ها
            </h1>
        </div>
    </div>
     <div class="row">
        {% for course in courses %}
        <div class="col-3 mb-2" >
            <div class="card" >
              <div class="inner">
                
                <img src="{{course.image.url}}" class="card-img-top" width="300px" height="200px" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{course.name}}</h5>
                <p class="card-text">{{course.description|truncatewords:4|safe}}</p>
                <div class="row mb-1">
                  <div class="col-12">
                    {{course.created|to_jalali:'%y/%m/%d_%H:%M:%S'}} <i class="fa fa-clock-o" ></i>
                  </div>
                  <div class="col-12">
                    {{course.username}} <i class=" fa fa-user" ></i>
                  </div>
                </div>
                <a href="{% url 'app-home:detail' course.id %}" class="btn btn-primary">ادامه مطلب</a>
              </div>
            </div>
          </div>
          {% endfor %}
    </div> 
    <div class="row">
              {% if courses.has_other_pages %}
                <div class="col-md-12">
                  <nav role="navigation">
                    <ul class="pagination custom-pagination pagination-lg">
                      {% if courses.has_previous %}
                        <li class="page-item prev">
                          <a class="page-link" href="?page={{ courses.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                        </li>
                      {% else %}
                        <li class="disabled"></li>
                      {% endif %}  

                      {% for pages in courses.paginator.page_range %}
                        {% if courses.number == pages %}
                          <li class="page-item active " >
                              <a class="page-link" style="border-radius: 40px;" href="#">{{pages}}</a>
                          </li>
                        {% else  %}
                          <li class="page-item " >
                              <a class="page-link" style="border-radius: 40px;" href="?page={{pages}}">{{pages}}</a>
                          </li> 
                        {% endif %} 
                      {% endfor %}    



                      {% if courses.has_next %}
                        <li class="page-item ">
                          <a class="page-link " href="?page={{ courses.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                        </li>
                      {% else %}
                        <li class="disabled"></li>
                      {% endif %}   

                      
                    </ul>
                  </nav>
                </div>
                {% endif %}
            </div>
    </div>
    

{% endblock %}    